- if @template_path || @template_content
  - content_for :head do
    %title= @title

  %h1= @title

#template-content
  - if @template_path
    = render partial: "#{@template_path}"
  - else
    #{@template_content}
