<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Docs</title>
    <% end %>

  </head>

  <body>
    <div id="root-container">
      <%= render partial: "shared/header" %>

      <div id="documentation-container">
        <%= render partial: "shared/side-menu" %>
        <div id="text-content">
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
