<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Docs</title>
    <% end %>

  </head>

  <body>
    <div id="root-container">
      <%= render partial: "shared/header" %>

      <div id="documentation-container">
        <%= render partial: "shared/side-menu" %>
        <div id="text-content">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.standardnotes.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '7']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//matomo.standardnotes.org/piwik.php?idsite=7&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>
